<!DOCTYPE html>
<html>
<head>
  <title>CCATT Viewer Rounding Survey</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../jQuery/jquery.mobile-1.1.1.min.css">
  <script src="../jQuery/jquery-1.7.1.min.js"></script>
  <script src="../jQuery/jquery.mobile-1.1.1.min.js"></script></head></head>
  <link rel="stylesheet" href="./stylesheets/main.css">
</head>
<body>
  <div data-role="page" data-url="/finish3">
    <div data-role="content" class="center" id="content">	
      <center> 
        <p><font size="10">Successfully Submitted!</font></p>
        <%= time %> 
        <p><br></p>
        <p><a href="/survey3" data-role="button" data-theme="b"><font size="12">New Post Shift Survey</font></a></p>
      </center>
    </div>
    <div data-role="footer"> 
      <h5>Shock Trauma Center, Univeristy of Maryland, Baltimore &copy;</h5> 
    </div>
  </div>
</body>
</html>