<!DOCTYPE html>
<html>
<head>
  <title>CCATT Viewer Rounding Survey</title>
</head>
<body>
  <h1>CCATT Viewer Rounding Survey</h1>
  	<form action="/survey1" method="POST">
	  <div>
	    <label for="badgeID">Badge ID#:</label>
	    <input type="text" name="BadgeID" id="badgeID" placeholder="Badge ID" required>
	  </div>
	  <div>
        <label>Rounding Type:</label>
        <label for="rounding-type-1">Team</label>
        <input type="radio" name="Rounding_type" id="rounding-type-1" value="team">
	    <label for="rounding-type-2">ICU</label>
	    <input type="radio" name="Rounding_type" id="rounding-type-2" value="icu">
	  </div>
	  <div>
        <label>Floor:</label>
        <label for="floor-1">4IMC</label>
        <input type="radio" name="Floor" id="floor-1" value="4IMC">
	    <label for="floor-2">4ICU</label>
	    <input type="radio" name="Floor" id="floor-2" value="4ICU">          
        <label for="floor-3">5IMC</label>
        <input type="radio" name="Floor" id="floor-3" value="5IMC">
	    <label for="floor-4">5ICU</label>
	    <input type="radio" name="Floor" id="floor-4" value="5ICU">   
	    <label for="floor-5">6IMC</label>
	    <input type="radio" name="Floor" id="floor-5" value="6IMC"> 
	  </div>
	  <div>
        <label>New Admit in last 24 hrs:</label>
        <label for="new-admit-1">Yes</label>
        <input type="radio" name="New_admit" id="new-admit-1" value="yes">
	    <label for="new-admit-2">No</label>
	    <input type="radio" name="New_admit" id="new-admit-2" value="no">
	  </div>

	  <p><strong>After traditional rounds and before accessing the viewer</strong></p>

	  <p><strong>Directions:</strong> For the following questions please select your responses</p>

	  <ol>
	    <li>
	      I have previewed the viewer for this patient before rounding?
	      <label for="q1-1">Yes</label>
          <input type="radio" name="Q1" id="q1-1" value="yes">
	      <label for="q1-2">No</label>
	      <input type="radio" name="Q1" id="q1-2" value="no">
	    </li>
	    <li>
	      Having reviewed the last 24 hrs during rounds, I feel that in the past 24 hours this  patient has shown evidence of:
	      <ol>
	      	<li>
	      	  Infection
		        <label for="q2-1-1">Yes</label>
	            <input type="radio" name="Q2_1" id="q2-1-1" value="yes">
		        <label for="q2-1-2">No</label>
		        <input type="radio" name="Q2_1" id="q2-1-2" value="no">	 
		        <label for="q2-1-3">Unsure</label>
		        <input type="radio" name="Q2_1" id="q2-1-3" value="unsure">
	      	</li>
	      	<li>
	      	  Hemodynamic instability
		        <label for="q2-2-1">Yes</label>
	            <input type="radio" name="Q2_2" id="q2-2-1" value="yes">
		        <label for="q2-2-2">No</label>
		        <input type="radio" name="Q2_2" id="q2-2-2" value="no">	 
		        <label for="q2-2-3">Unsure</label>
		        <input type="radio" name="Q2_2" id="q2-2-3" value="unsure">
	      	</li>
	      	<li>
	      	  Uncontrolled bleeding
		        <label for="q2-3-1">Yes</label>
	            <input type="radio" name="Q2_3" id="q2-3-1" value="yes">
		        <label for="q2-3-2">No</label>
		        <input type="radio" name="Q2_3" id="q2-3-2" value="no">	 
		        <label for="q2-3-3">Unsure</label>
		        <input type="radio" name="Q2_3" id="q2-3-3" value="unsure">
	      	</li>
	      	<li>
	      	  Respiratory deterioration
		        <label for="q2-4-1">Yes</label>
	            <input type="radio" name="Q2_4" id="q2-4-1" value="yes">
		        <label for="q2-4-2">No</label>
		        <input type="radio" name="Q2_4" id="q2-4-2" value="no">	 
		        <label for="q2-4-3">Unsure</label>
		        <input type="radio" name="Q2_4" id="q2-4-3" value="unsure">
	      	</li>
	      </ol>
	    </li>
	    <li>
	      Over the past day the patient’s condition has…
	      <label for="q3-1">Improved significantly</label>
          <input type="radio" name="Q3" id="q3-1" value="1">
	      <label for="q3-2">Improved Slightly</label>
	      <input type="radio" name="Q3" id="q3-2" value="2">
	      <label for="q3-3">Unchanged</label>
	      <input type="radio" name="Q3" id="q3-3" value="3">
	      <label for="q3-4">Deteriorated slightly</label>
	      <input type="radio" name="Q3" id="q3-4" value="4">
	      <label for="q3-5">Deteriorated significantly</label>
	      <input type="radio" name="Q3" id="q3-5" value="5">
	    </li>
	    <li>
	      Can the patient be transferred to a lower level of care?
	      <label for="q4-1">Yes</label>
          <input type="radio" name="Q4" id="q4-1" value="yes">
	      <label for="q4-2">No</label>
	      <input type="radio" name="Q4" id="q4-2" value="no">
	    </li>
	    <li>
	      Does the patient need to be transferred to a higher level of care?
	      <label for="q5-1">Yes</label>
          <input type="radio" name="Q5" id="q5-1" value="yes">
	      <label for="q5-2">No</label>
	      <input type="radio" name="Q5" id="q5-2" value="no">
	    </li>
	    <li>
	      <strong>(TBI Patients Only)</strong> Is the patient having any ICP problems within the last 24hrs?
	      <label for="q6-1">Yes</label>
          <input type="radio" name="Q6" id="q6-1" value="yes">
	      <label for="q6-2">No</label>
	      <input type="radio" name="Q6" id="q6-2" value="no">
	      <label for="q6-3">Unsure</label>
	      <input type="radio" name="Q6" id="q6-3" value="unsure">
	    </li>
	  </ol>
	  
	  <div>
	    <input type="submit" value="Submit" />
	  </div>
	</form> 
</body>
</html>