/*body {*/
/*    margin-left: 10px;*/
/*}*/

#form1 { 
    /*padding-left: 10px;*/
    background:rgb(222, 236, 249);
}

#form2 {
    /*padding-left: 10px;*/
    background:rgb(253, 234, 255);
}

ul {
    margin: 0px;
}

ol {
    margin-top: 2px;
    margin-bottom: 2px;
}

ol ol {
    margin-top: 12px;
    margin-bottom: 2px;
}

li {
    margin-bottom: 2px;
}

#new {
    height: 40px !important;
}

.center {
    padding: 70px 0;
}

.big {
    font-size: 60px;
}